{% extends "admin/_layout.html.twig" %}

{% block content %}

    <h2>Modifier un article</h2>

    {{ form_start(form) }}
        {% include 'admin/article-form.html.twig' with { 'form': form } %}
    {{ form_end(form) }}

{% endblock %}