{% extends "_layout.html.twig" %}
{% block title 'Page statique' %}
{% block description 'Page description' %}
{% block bodyId 'page' %}
{% block bodyClass '' %}

{% block content %}
    <h1>Page statique</h1>
{% endblock %}
